applicationhost.config
BookService/.vs/BookService/v16
packages

# all bin folders
bin

#obj/Debug
BookService/BookService/obj/Debug
UnitTestingWebApi.API.Core/obj/Debug

/BookService/BookService/App_Data
